<!-- <table>
  <thead>
    <th>Address</th>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table> -->

<mat-form-field>
    <input matInput placeholder="Address" [(ngModel)]="studentDetails.Address">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="studentDetails.Name">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Age" [(ngModel)]="studentDetails.Age">
</mat-form-field>

<button mat-raised-button color="primary" (click)="addStudents()">Add Students</button>

<button mat-raised-button color="primary" (click)="getStudents()">Get Students</button>

<app-child [studentDetails]="studentDetails"></app-child>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->