<!-- <table>
  <thead>
    <th>Address</th>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table> -->

<mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="studentDetails.Name">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Address" [(ngModel)]="studentDetails.Address">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Age" [(ngModel)]="studentDetails.Age">
</mat-form-field>

<button mat-raised-button color="primary" (click)="addStudents()">Add Students</button>

<button mat-raised-button color="primary" (click)="getStudents()">Get Students</button>

<app-child [dataSource]="dataSource"></app-child>